html {
    font-size: 10px; /* px means "pixels", the base font size is now 10 pixels*/
    font-family: 'Georama', sans-serif;
    background-color: aquamarine;
}


h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 40px 0;
    color: aquamarine;
    text-shadow: 4px 4px 3px black;
}

body {
    width: 850px;
    margin: 0 auto;
    background-color: beige;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}

img {
    width: 550px;
    display: block;
    margin: 0 auto;
}

p,li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}